<a href="https://colab.research.google.com/github/AhsenRiaz/Numpy-And_Pandas/blob/main/05_pandas_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We can use pandas methods for accessing or manipulating the data points

In [2]:
import numpy as np
import pandas as pd

In [4]:
cars_csv='https://raw.githubusercontent.com/AhsenRiaz/Numpy-And_Pandas/main/cars.csv'

df = pd.read_csv(cars_csv)
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

# Apply
we can insert certain new coloumns through this method

In [5]:
def price_after_tax(price):
  return round((price * 1.13)) # a tax of 13 percent

In [9]:
price_after_tax(df['price'][7])

88642

In [13]:
df['price_after_tax'] =df['price'].apply(price_after_tax) # aply tax to each price and create a new col with price after taxes
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160

In [14]:
def profit_margin(price, finance):
    if finance == "no":
        if price < 10000:
            return "LOW"
        elif price >= 10000 and price < 25000:
            return "MED"
        else:
            return "HIGH"
    else:
        if price < 7500:
            return "LOW"
        elif price >= 7500 and price < 20000:
            return "MED"
        else:
            return "HIGH"

In [18]:
df["profit_margin"] = df[['price', 'finance']].apply(lambda df: profit_margin(df['price'], df['finance']), axis=1)
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614,HIGH
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775,MED
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848,LOW
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660,HIGH
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955,LOW
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915,HIGH
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136,LOW
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400,LOW
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762,HIGH
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411,MED
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251,HIGH
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526,LOW
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236,MED
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887,HIGH
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700,MED
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636,LOW
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664,HIGH
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160,HIGH

In [19]:
# Another method for this
df['profit_margin'] = np.vectorize(profit_margin)(df['price'], df['finance'])
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614,HIGH
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775,MED
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848,LOW
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660,HIGH
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955,LOW
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915,HIGH
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136,LOW
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400,LOW
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762,HIGH
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411,MED
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251,HIGH
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526,LOW
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236,MED
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887,HIGH
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700,MED
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636,LOW
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664,HIGH
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160,HIGH

# Sort

In [21]:
df.sort_values('price')

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526,LOW
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636,LOW
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955,LOW
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400,LOW
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848,LOW
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136,LOW
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700,MED
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775,MED
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236,MED
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990,HIGH
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652,HIGH
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717,HIGH
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614,HIGH
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501,HIGH
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617,HIGH
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660,HIGH
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787,HIGH
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160,HIGH

In [24]:
df.sort_values(['price', 'year']) # if price is same then the data would be sorted by year

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526,LOW
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636,LOW
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955,LOW
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400,LOW
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848,LOW
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136,LOW
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411,MED
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180,MED
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700,MED
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775,MED
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236,MED
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990,HIGH
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652,HIGH
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717,HIGH
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614,HIGH
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501,HIGH
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617,HIGH
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660,HIGH
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787,HIGH
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160,HIGH

Max
takes the data frame and returns the data with the highest value

In [25]:
df['price'].max()

232000

# idxmax
returns the index of the highest value

In [26]:
df['price'].idxmax()

44

# iloc
takes the index and returns the data

In [27]:
df.iloc[df['price'].idxmax()]

car                Bentley Bentayga
type                            SUV
year                           2020
price                        232000
finance                          no
day                             Wed
dealer                         Mike
customer                  Gabrielle
social_security           885353455
sex                               F
price_after_tax              262160
profit_margin                  HIGH
Name: 44, dtype: object

# value_counts
returns the number of values

In [29]:
df['sex'].value_counts()

M    26
F    19
Name: sex, dtype: int64

# replace
a method to replace an existing value with a new one

In [30]:
df['sex'] = df['sex'].replace(to_replace='M', value='Male')
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,Male,44070,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614,HIGH
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,Male,19775,MED
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848,LOW
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,Male,25990,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660,HIGH
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,Male,3955,LOW
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,Male,37915,HIGH
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136,LOW
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,Male,8400,LOW
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762,HIGH
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,Male,12411,MED
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,Male,27118,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,Male,66042,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251,HIGH
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,Male,2526,LOW
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,Male,25236,MED
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,Male,158825,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,Male,30999,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,Male,49215,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,Male,88642,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,Male,117887,HIGH
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,Male,19700,MED
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,Male,2636,LOW
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,Male,151787,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,Male,49756,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,Male,49215,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,Male,209664,HIGH
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,Male,15180,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,Male,15180,MED
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,Male,96586,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,Male,87961,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160,HIGH

# duplicated
this method will returns data which is a duplicate of other. Basically tell us if there is any duplicate record

In [35]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35     True
36    False
37    False
38     True
39    False
40    False
41    False
42    False
43    False
44    False
dtype: bool

In [36]:
df[df.duplicated()]

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,Male,49215,HIGH
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,Male,15180,MED

In [37]:
df[df['car'] == 'Jeep Wrangler'] ## here row 35 is a duplicate

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,Male,37915,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,Male,49215,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,Male,49215,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015,LOW

In [38]:
df[df['price'].between(10000, 20000)]

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,Male,19775,MED
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700,MED
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,Male,12411,MED
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,Male,19700,MED
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,Male,15180,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,Male,15180,MED